<%
locals.OLSKPageTitle = OLSKLocalized('MSWVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('MSWVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/__external/OLSKBanner/main.js',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<div class="MSWVitrine OLSKDecor OLSKDecorCapped">

<%- include('../_shared/__external/OLSKLanguageSwitcher/main.ejs') %>

<hr role="presentation" />

<div class="MSWVitrineCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="MSWVitrineCrownIcon" src="<%= process.env.MSW_VITRINE_IDENTITY_URL %>" role="presentation" />
	<section>
		<span class="MSWVitrineCrownName"><%= OLSKLocalized('MSWVitrineTitle') %></span>
		<span class="MSWVitrineCrownBlurb"><%= OLSKLocalized('MSWVitrineDescription') %></span>
	</section>
</div>

<p class="OLSKCommonWhatIsIt"><%= OLSKLocalized('OLSKCommonWhatIsItText') %></p>

<article class="MSWVitrineContent">

<%- OLSKStringReplaceTokens(MSWVitrineContent, {}) %>

</article>

<h1 class="MSWVitrineGazetteHeading"><%= OLSKLocalized('OLSKGazetteHeadingText') %></h1>
<%- include('../../node_modules/OLSKFollow/main.ejs') %>
<%- include('../../node_modules/OLSKGazette/main.ejs', {
	OLSKGazetteProject: 'RP_002',
}) %>

<h1 class="MSWVitrineJarHeading"><%= OLSKLocalized('OLSKJarHeadingText') %></h1>
<%- include('../../node_modules/OLSKJar/main.ejs') %>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
