<%
locals.OLSKPageTitle = OLSKLocalized('MSWExploreTitle');
locals.OLSKPageDescription = OLSKLocalized('MSWExploreDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
	
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKLayout/ui-style.css',
	'/_shared/__external/codemirror/lib/codemirror.css',
	'/_shared/__external/codemirror/lib/codemirror.js',
	'/_shared/__external/codemirror/keymap/sublime.js',	
	'/dev-prompt/__compiled/ui-behaviour.js',
	'/dev-prompt/__compiled/ui-style.css',
	
	'ui-behaviour.js',
];
locals.OLSKPageUseLivereload = process.env.NODE_ENV === 'development';
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage: OLSKSharedPageCurrentLanguage,
};
%>

<%- include('../_shared/common/layout-header.ejs') %>

<div class="MSWExplore">

<div id="MSWPromptTarget"></div>

<div class="MSWExploreFooter OLSKToolbar">
	<%- include('../_shared/MSWRootLink/main.ejs') %>
	
	<div class="OLSKToolbarElementGroup">
		<a class="MSWExploreGuideLink" href="<%= OLSKCanonicalFor('MSWGuideRoute') %>" target="_blank"><%= OLSKLocalized('MSWExploreGuideLinkText') %></a>	
	</div>
</div>

</div>

<script type="text/javascript">
MSWExploreBehaviour.LifecyclePageWillLoad();
</script>

<%- include('../_shared/common/layout-footer.ejs') %>
